@import url('../login-style.css');

.container-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ipt-style {
  background-color: #12D472 !important;
  border: 1px solid #12D472;
  border-radius: 0;
  color: white;
  box-shadow: 1px 1px 2px rgba(255,255,255,0.3);
  border-top-left-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 85px;
  border-bottom-left-radius: 5px;
}

::placeholder {
  color: gainsboro;
  font-size: 0.8rem;
}

.form-control {
  box-shadow: 1px 1px 2px rgba(255,255,255,0.3);
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: #12D472;
}

.btn-login {
  width: 50%;
  background-color: #12D472;
  color: white;
  border-radius: 10px !important;
  font-family: 'Roboto';
  box-shadow: 1px 1px 2px rgba(255,255,255,0.3);
}

.btn {
  transition: all .1s;
  box-shadow: 1px 1px 2px rgba(255,255,255,0.3);
}

.btn:hover {
  transform: scale(1.05);
}

.return {
  margin-left: 5px;
  display: flex;
  min-width: 13%;
  justify-content: space-between;
  align-items: center;
  color: #12D472;
  cursor: pointer;
  transition: all .1s;
}

.return:hover {
  transform: scale(1.03);
}

.space {
  display: flex; justify-content: space-between;
}

.span-error {
  position: absolute;
  top: -20px;
  font-family: 'Arial';
  font-size: 15px;
  color: red;
  font-weight: 400;
  animation: 1s ease-in-out;
}









