.item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2F7A54;
  font-weight: bold;
  background-color: white;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  text-decoration: none;
  transition: all 1s;
  box-shadow: 1px 1px 5px #c7c7c7;
}

.item:not(:first-child) {
  margin-top: 5px;
}

.item:not(.active):hover {
  background-color: #2F7A54;
  color: white;
  font-weight: bold;
}

.item.active {
  background-color: #2F7A54;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 5px #2f7a54;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
