.btn {
  transition: all .1s;
  box-shadow: 1px 1px 2px rgba(255,255,255,0.3);
}

.btn:hover {
  transform: scale(1.05);
}

.btn-login {
  border-radius: 10px;
  background: rgb(18,212,114);
  background: linear-gradient(90deg, rgba(18,212,114,1) 62%, rgba(124,230,177,1) 97%);
  color: white;
  font-family: 'Roboto';
}

.btn-cadastro {
  border-radius: 10px;
  background: rgb(18,128,65);
  background: linear-gradient(90deg, rgba(18,128,65,1) 62%, rgba(67,153,104,1) 97%);
  color: white;
  font-family: 'Roboto';
}

.message {
  font-family: 'Roboto Mono Regular';
}

.h1-style {
  color: #12D472;
}
