<router-outlet></router-outlet>
<!-- Header
<section class="header">
  <app-header-template></app-header-template>
</section> -->


<!-- <section class="body-sec"> -->

<!-- Button Menu -->
<!-- <div class="btn-menu-style" (click)="changeMenuStatus()">
  <div class="menu-effect01"></div>
  <mat-icon class="seta-effect01">{{!this.isMenuAberto ? 'chevron_left' : 'chevron_right'}}</mat-icon>
</div>

<div class="menu-style" [class.menuOpen]="this.isMenuAberto">
    <app-menu style="position: relative; top: -1px;"></app-menu>
</div>

<app-body-template></app-body-template>

</section> -->






