.header-style {
  height: 45px;
  background: rgba(18,212,114,0.3);
  background: linear-gradient(90deg, #14743E 63%, #1DAD5C 100%);
  box-shadow: 1px 1px 11px rgba(0, 0, 0,0.9);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-style {
  font-size: 30px;
}
