/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { overflow: hidden;position: absolute; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.body-sec {
  min-height: 90vh;
}

.btn-menu-style {
  /* left: 95vw; */
  top: 95vh;
  cursor: pointer;
  position: sticky;
  display: flex;
  justify-content: flex-end;
  transition: all 1s;
}

.menu-effect01 {
  position: absolute;
  background-color: rgb(18,212,114);
  box-shadow: 2px 2px 20px rgb(18,212,114);
  box-shadow: 2px 3px 25px rgb(50,212,114);
  box-shadow: 2px 2px 30px rgb(100,212,114);
  width: 50px;
  height: 25px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  transition: width 1s;
}

.menu-effect01:hover + .seta-effect01:hover {
  width: 50px;
}

/* .menu-effect01:hover {
  width: 50px;
} */

.seta-effect01 {
  z-index: 1;
  color: white;
  transition: padding 1s;
}

/* .seta-effect01:hover {
  padding-right: 50px;
} */

/* Loading Effect */
.loading-effect {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-effect:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #12D472;
  border-color: #12D472 transparent #12D472 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


.modal-style .mat-dialog-container {
  background-color: rgb(31,31,31) !important;
  box-shadow: 1px 1px 5px rgba(255,255,255,0.5);
  color: white;
}


/* Scroll style */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:  rgb(33,33,33);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(61 61 61);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(61 61 61);
}
