.item {
  width: 100%;
  min-height: 50px;
  margin-top: 25px;
  background-color: white;
  border: 1px solid rgb(18,212,114);
  box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
  border-radius: 5px;
  transition: all 0.5s;
}

.item:hover {

  border: 1px solid rgb(18,212,114);
  box-shadow: 6px 10px 16px rgba(0,0,0,0.3);
  box-shadow: 6px 15px 17px rgba(18,212,114,0.3);
}
